.main-nav {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
}
.menu-items {
  padding: 5px 8px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.menu-items:hover {
  color: #ff5400 !important;
}

/* responsive */
@media only screen and (max-width: 688px) {
  .main-nav {
    background: #43516c !important;
  }
}

@media only screen and (min-width: 688px) and (max-width: 992px) {
  .main-nav {
    background: #1f2f50 !important;
  }
}
