.footer {
  background-color: #171717;
  color: #a9a9a9;
  z-index: 1;
}

.footer-info p {
  margin: 0;
}

.footer-links li {
  margin: 7px 0;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.footer-links li:hover {
  color: #ff5400;
  margin-left: 5px;
}

.footer-links button {
  background-color: #ff5400;
  border: 2px solid transparent;
  font-size: 18px;
  padding: 7px 15px;
  margin-top: 10px;
  letter-spacing: 2px;
}

.footer-links button:hover {
  background-color: #282828 !important;
  border: 2px solid transparent;
}
.mini-footer {
  background-color: #1a1a1a;
}

.mini-footer p {
  color: #fff;
}

.mini-footer span {
  color: #ff5400;
}

@media only screen and (max-width: 688px) {
  .footer-heading {
    margin-left: 115px;
    margin-top: 15px;
  }
  .footer-info {
    margin-left: 40px;
  }
  .footer-links {
    margin-left: 90px;
  }
}
